swipe:
  3:
    left:
      command: "xdotool key super+h"
    right:
      command: "xdotool key super+l"
    up:
      command: "xdotool key super+k"
    down:
      command: "xdotool key super+j"
  4:
    left:
      command: "xdotool key super+Tab"
    right:
      command: "xdotool key super+Shift+Tab"
